<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-7 text-center">
              <img src="./assets/img/theme/225.jpg" alt="Rounded image" class="img-fluid rounded-circle shadow" style="width: 150px;">
              <img src="./assets/img/brand/logo_sky.svg" style="width: 200px;" class="img-fluid">              <div class="col-sm-3 col-6">
                
              </div>
              <p class="lead text-white">Bienvenue sur le Site du Swarmy !</p>
              


              <div class="btn-wrapper mt-5 row align-items-center justify-content-center">
                <a target="_blank" href="./assets/Docs/Feral_Jules_Cv_Dev.pdf" class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon">
                    
                    <img src="./assets/img/brand/bender.png" style="height: 20px;">
                  </span>
                  <span class="btn-text">Cv</span><span class="text-warning"> Swarmy</span>
                </a>
                <a href="https://gitlab.com/harmantes349" class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0" target="_blank">
                  <span class="btn-inner--icon"><i class="fa fa-github"></i></span>
                  <span class="btn-inner--text">
                    <span class="text-warning">Mon</span> Git !</span>
                </a>  
                 <!-- modal form  -->
                <div class="col-md-4">
                  <button class="btn btn-block btn-github " (click)="open(classic1, 'modal_mini', 'sm')">
                    Connexion !
                  </button>
                  <ng-template #classic1 let-c="close" let-d="dismiss">
                    <div class="modal-content">
                      <div class="modal-body p-0">
                        <div class="card bg-secondary shadow border-0">
                          <div class="card-header bg-white pb-5">
                            <div class="text-muted text-center mb-3">
                              <small>Sign in with</small>
                            </div>
                            <div class="btn-wrapper text-center">
                              <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
                                <span class="btn-inner--icon">
                                  <img src="./assets/img/icons/common/github.svg">
                                </span>
                                <span class="btn-inner--text">Github</span>
                              </a>
                              <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
                                <span class="btn-inner--icon">
                                  <img src="./assets/img/icons/common/google.svg">
                                </span>
                                <span class="btn-inner--text">Google</span>
                              </a>
                            </div>
                          </div>
                          <div class="card-body px-lg-5 py-lg-5">
                            <div class="text-center text-muted mb-4">
                              <small>Or sign in with credentials</small>
                            </div>
                            <form role="form">
                              <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                                <div class="input-group input-group-alternative">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                  </div>
                                  <input class="form-control" placeholder="Email" type="email" (focus)="focus=true" (blur)="focus=false">
                                </div>
                              </div>
                              <div class="form-group" [ngClass]="{'focused':focus1===true}">
                                <div class="input-group input-group-alternative">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                  </div>
                                  <input class="form-control" placeholder="Password" type="password" (focus)="focus1=true" (blur)="focus1=false">
                                </div>
                              </div>
                              <div class="custom-control custom-control-alternative custom-checkbox">
                                <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                                <label class="custom-control-label" for=" customCheckLogin">
                                  <span>Remember me</span>
                                </label>
                              </div>
                              <div class="text-center">
                                <button type="button" class="btn btn-primary my-4">Sign in</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </div>

              </div>

            
              <!-- modal 1  -->
            </div>
            <button class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0 rounded-circle" (click)="open(modal1,'' , '')">
              modal basic
             </button>
             <ng-template #modal1 let-c="close" let-d="dismiss">
               <div class="modal-content">
                 <div class="modal-header">
                   <h6 class="modal-title" id="modal-title-default">Project Pro !</h6>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
                     <span aria-hidden="true">×</span>
                   </button>
                 </div>
                 <div class="modal-body">
                   <p>DU TAFF DU TAFF.....</p>
                 </div>
                 
                
               </div>
             </ng-template>

          
            
          
        </div>

        </div>
      </div>
    
   

      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>
  <app-sections></app-sections>
</main>
