<div class="container">
  <h2 class="mt-lg mb-5">
    <span>Javascript Components</span>
  </h2>
  <h3 class="h4 text-success font-weight-bold mb-4">Modals</h3>
  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-block btn-primary mb-3" (click)="open(classic,'' , '')">
       Default
      </button>
      <ng-template #classic let-c="close" let-d="dismiss">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title" id="modal-title-default">Type your modal title</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <p>be Far far away,  sentences fly into your mouth.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal" (click)="c('Close click')">Close</button>
          </div>
        </div>
      </ng-template>
    </div>

    <div class="col-md-4">
      <button class="btn btn-block btn-warning mb-3" (click)="open(classic2, 'Notification', '')">
         Notification
      </button>
      <ng-template #classic2 let-c="close" let-d="dismiss">
        <div class="modal-content bg-gradient-danger">
          <div class="modal-header">
            <h6 class="modal-title" id="modal-title-notification">Your attention is required</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="py-3 text-center">
              <i class="ni ni-bell-55 ni-3x"></i>
              <h4 class="heading mt-4">You should read this!</h4>
              <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-white">Ok, Got it</button>
            <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal" (click)="c('Close click')">Close</button>
          </div>
        </div>
      </ng-template>
    </div>

    <div class="col-md-4">
      <button class="btn btn-block btn-default" (click)="open(classic1, 'modal_mini', 'sm')">
         Form
      </button>
      <ng-template #classic1 let-c="close" let-d="dismiss">
        <div class="modal-content">
          <div class="modal-body p-0">
            <div class="card bg-secondary shadow border-0">
              <div class="card-header bg-white pb-5">
                <div class="text-muted text-center mb-3">
                  <small>Sign in with</small>
                </div>
                <div class="btn-wrapper text-center">
                  <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
                    <span class="btn-inner--icon">
                      <img src="./assets/img/icons/common/github.svg">
                    </span>
                    <span class="btn-inner--text">Github</span>
                  </a>
                  <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
                    <span class="btn-inner--icon">
                      <img src="./assets/img/icons/common/google.svg">
                    </span>
                    <span class="btn-inner--text">Google</span>
                  </a>
                </div>
              </div>
              <div class="card-body px-lg-5 py-lg-5">
                <div class="text-center text-muted mb-4">
                  <small>Or sign in with credentials</small>
                </div>
                <form role="form">
                  <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                      </div>
                      <input class="form-control" placeholder="Email" type="email" (focus)="focus=true" (blur)="focus=false">
                    </div>
                  </div>
                  <div class="form-group" [ngClass]="{'focused':focus1===true}">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                      </div>
                      <input class="form-control" placeholder="Password" type="password" (focus)="focus1=true" (blur)="focus1=false">
                    </div>
                  </div>
                  <div class="custom-control custom-control-alternative custom-checkbox">
                    <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                    <label class="custom-control-label" for=" customCheckLogin">
                      <span>Remember me</span>
                    </label>
                  </div>
                  <div class="text-center">
                    <button type="button" class="btn btn-primary my-4">Sign in</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <!-- Datepicker -->
  <h3 class="h4 text-success font-weight-bold mt-md mb-4">Datepicker</h3>
  <div class="row">
    <div class="col-md-4">
      <small class="d-block text-uppercase font-weight-bold mb-3">Single date</small>
      <div class="form-group" [ngClass]="{'focused':focus2===true}">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
          </div>
          <input class="form-control datepicker" placeholder="Select date" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" (focus)="focus2=true" (blur)="focus2=false" type="text" (select)="onDateSelection($event)" autocomplete="off"/>
        </div>
      </div>
    </div>
    <div class="col-md-8 mt-4 mt-md-0">
      <small class="d-block text-uppercase font-weight-bold mb-3">Date range</small>
      <div class="input-daterange datepicker row align-items-center">
        <div class="col">
          <div class="form-group" [ngClass]="{'focused':focus3===true}">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
              </div>
              <input class="form-control datepicker" placeholder="Select date" name="dp1" [(ngModel)]="model1" ngbDatepicker #d1="ngbDatepicker" (click)="d1.toggle()" (select)="mama($event)" type="text" [dayTemplate]="t" (dateSelect)="startDateChanged($event)" autocomplete="off" (focus)="focus3=true" (blur)="focus3=false"/>
              <ng-template #t let-date let-focused="focused" >
               <span class="custom-day"
                [class.text-white]="isActive(date)"
                [class.range-end]="isRangeEnd(date)"
                [class.range-start]="isRangeStart(date)"
                [class.btn-light]="isActive(date)"
                [class.bg-primary]="isActive(date)"
                [class.range]="isInRange(date)"
                [class.faded]="isInRange(date)"
               >
                 {{ date.day }}
               </span>
             </ng-template>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group" [ngClass]="{'focused':focus4===true}">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
              </div>
              <input class="form-control datepicker" placeholder="Select date" name="dp2" [(ngModel)]="model2" ngbDatepicker #d2="ngbDatepicker" (click)="d2.toggle()" (focus)="focus4=true" (blur)="focus4=false" type="text" [dayTemplate]="t1" (dateSelect)="endDateChanged($event)" autocomplete="off"/>
              <ng-template #t1 let-date let-focused="focused" >
               <span class="custom-day"
                [class.text-white]="isActive(date)"
                [class.range-end]="isRangeEnd(date)"
                [class.range-start]="isRangeStart(date)"
                [class.btn-light]="isActive(date)"
                [class.bg-primary]="isActive(date)"
                [class.range]="isInRange(date)"
                [class.faded]="isInRange(date)"
               >
                 {{ date.day }}
               </span>
             </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Tooltips and Popovers -->
  <h3 class="h4 text-success font-weight-bold mt-md mb-4">Tooltips &amp; Popovers</h3>
  <div class="row">
    <div class="col-lg-6">
      <small class="d-block text-uppercase font-weight-bold mb-3">Tooltips</small>
      <button type="button" class="btn btn-sm btn-primary btn-tooltip" placement="left"   ngbTooltip="Tooltip on left">On left</button>
      <button type="button" class="btn btn-sm btn-primary btn-tooltip" placement="top"    ngbTooltip="Tooltip on top">On top</button>
      <button type="button" class="btn btn-sm btn-primary btn-tooltip" placement="bottom" ngbTooltip="Tooltip on bottom">On bottom</button>
      <button type="button" class="btn btn-sm btn-primary btn-tooltip" placement="right"  ngbTooltip="Tooltip on right">On right</button>
    </div>
    <div class="col-lg-6 mt-4 mt-lg-0">
      <small class="d-block text-uppercase font-weight-bold mb-3">Popovers</small>
      <button type="button" class="btn btn-sm btn-default" placement="left"
              ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on left">On left</button>
      <button type="button" class="btn btn-sm btn-default" placement="top"
              ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on top">On top</button>
      <button type="button" class="btn btn-sm btn-default" placement="right"
              ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on right">On right</button>
      <button type="button" class="btn btn-sm btn-default" placement="bottom"
              ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on bottom">On bottom</button>
    </div>
  </div>
</div>
